footer.footer
  h3.footer__logo DREAMSHARE
  .footer__company
    h4 Company
    .flex-box-footer
      .flex-box-footer_item
        a(href='#')
          p About
        a(href='#')
          p Contact
        a(href='#')
          p Press
        a(href='#')
          p Blog
      .flex-box-footer_item
        a(href='#')
          p Terms and Privacy
        a(href='#')
          p Help
  h4.footer__partners Partners
  .footer__design
    h4.footer__design-heading
      h4.footer__design-head DESIGNED BY
      img.footer__image(src='../images/footer.png', alt='')
