section.front-section
      header.header
        .header__logo DREAMSHARE
        .header__login-menu
          a(href='#')
            .header__log Log in
          a(href='#')
            .header__sing-box
              .header__sing Sign up
      .front-section__text-box
        h1.front-section__heading
          | SHARE YOUR
          | HOLIDAY DREAM
        p.front-section__text And find the perfect partner to fullfill it
        button.front-section__btn Find your holiday partner